<% content_for :page_header, @product.name.capitalize %>
<% content_for :page_description, "Product information for #{@product.name}" %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <!--<div class="col-sm-6 col-md-4">-->
<div class="row" data-product-id="<%= @product.id %>">
      <div class="thumbnail">

           <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>


        <div class="caption">
          <p>
            <strong>Name:</strong>
            <%= @product.name %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @product.description %>
          </p>

          <p>
            <strong>Colour:</strong>
            <%= @product.colour %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @product.price %>
          </p>
   <h2><%= number_to_currency(@product.price, :unit => '$') %></h2>
      
<%= form_tag "/payments/create" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: 'shared/stripe_checkout_button' %>
<% end %>

        
<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
           
             <div class="text-center">
            <% if signed_in? && current_user.admin? %>
            <%= link_to 'Delete',
              product_path(@product), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' %>
            <% end %>

            <% if signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default' %>
            <% end %>


             <div class="product-buttons">
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default"%> |
    <%= link_to 'Back', products_path, class: "btn btn-default" %>
  </div>
 



<%= render 'new_comment' %>
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render 'comments' %>
<%= will_paginate @comments %>
</div>
</div>
